node_modules
.DS_Store
.pnpm-store/
.stfolder/
.stversions/
.stignore
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*

data/
playwright-report/
test-results/
coverage/
.lighthouseci/
dev.log
.pi/
src/test-setup.ts
